/* styles.css */
body {
  background-color: lightgrey;
  color: white;
}

.section {
  background: linear-gradient(#1e2669, #39487e);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1em;
}

#time {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 20%
  font-size: 8vw;
}

.appliance {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 10px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input[type="checkbox"]:checked + .slider {
  background-color: limegreen;
}

input[type="checkbox"]:checked + .slider:before {
  transform: translateX(20px);
}

.subsection {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.placeholder-box {
  width: 80px;
  height: 100px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.placeholder-box:nth-child(4) {
  margin-bottom: 0;
}

.placeholder-box {
  width: 100px;
  height: 130px;
  background: #39487e;
/*     box-shadow: 1px 1px 2px #39487e ; */
  border-radius: 7px;
  box-shadow: 2px 2px 5px #232469;
}

.placeholder-boxx {
  width: 100px;
  height: 130px;
  background: #39487e;
  border-radius: 7px;
  box-shadow: 2px 2px 5px #232469;
}

.placeholder-boxx:nth-child(1){
background: darkgrey;
}

.placeholder-boxx .placeholder-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.placeholder-box .placeholder-content {
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 2px;
}

.circle-placeholder {
  width: 20px;
  height: 20px;
  background-color: lightgray;
  border-radius: 50%;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  /* Adjust styles for screens up to 768px width */
  #time {
      font-size: 5vw;
  }

  .placeholder-box,
  .placeholder-boxx {
      width: 80px;
      height: 150px;
  }
}

@media screen and (max-width: 480px) {
  /* Adjust styles for screens up to 480px width */
  #time {
      font-size: 3.5vw;
  }

  .placeholder-box,
  .placeholder-boxx {
      width: 60px;
      height: 150px;
  }
}

.calender-events{
 display: flex;
 border-bottom: 2px solid #232468;
 justify-content: space-between;
height: 30px;
border-radius: 7px;
 margin: 5px;
}

.heading{
text-align: center;
margin: 0;
padding: 0;
}
